<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coronavirusassistant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Coronavirus Assistant"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoronavirusAssistant"
        android:usesCleartextTraffic="true">
        <activity android:name=".hadzicilocation"></activity>
        <activity android:name=".ilidzalocation" />
        <activity android:name=".ilijaslocation" />
        <activity android:name=".novosarajevolocation" />
        <activity android:name=".zetralocation" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".hadzici" />
        <activity android:name=".ilidza" />
        <activity android:name=".novosarajevo" />
        <activity android:name=".ilijas" />
        <activity android:name=".zetra" />
        <activity android:name=".pfizer" />
        <activity android:name=".jj" />
        <activity android:name=".sinovac" />
        <activity android:name=".sinopharm" />
        <activity android:name=".moderna" />
        <activity android:name=".astrazeneca" />
        <activity android:name=".SputnikV" />
        <activity android:name=".vaccines" />
        <activity android:name=".mcpbih" />
        <activity android:name=".mzfbih" />
        <activity android:name=".mzks" />
        <activity android:name=".covid19ba" />
        <activity android:name=".HomeScreen" />
        <activity
            android:name=".MainActivity"
            android:label="Coronavirus Assistant" />
        <activity
            android:name=".Login"
            android:label="Coronavirus Assistant">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>